#head_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}


.header_link_stock_ticks {

    display: inline-block;
    margin-right: 20px;
    max-width: 100%;

}

#enable-ethereum{

    display: flex;
    margin-left: 100%;
}

@media (max-width: 800px){

    #stock_ticks {

        font-size: 2vw;
        
    }

    #profileMenu{

        font-size: 2vw;

    }

    .dropdown-item{
        font-size: 2vw;
    }

    #tradepro-text{
        font-size: 5vw;
    }

    .btn-primary{
        font-size: 2vw;
    }

    #skyline{

        width: 85vw;
        height: auto;

    }

}

.header_link {

    display: flex;
    margin-right: 20px;
    max-width: 100%;
    overflow: auto;

}

#main_body {
    background-color: black;
}

.btn-primary {
    background-color: #c0c0c0;
    color: black;
    border-color: white;
}

.btn-primary:hover {
    background-color: grey;
}

.bg-primary {
    background-color: #c0c0c0 !important;
    color: black;

}

.navbar-expand-lg {
    background-color: #eceaea !important;
}

#navbarNav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#TradePro_Reimagined {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eceaea !important;
    margin-right: 35px;

}

.header {

    color: #eceaea !important;

}

#port_dscrete_alloc {
    float: right;
    width: 50%;
}

#port_alloc {

    float: left;
    width: 50%;

}

#skyline{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;

}