html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main{

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app{

    width: 100%;
    height: 100%;
    display: flex;
    
}

/* Splash Intro */

.intro{
    position: fixed;
    z-index: 2;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header{
position: absolute;
top: 5%;
left: 50%;
transform: translate(-50%, -50%);
color: #ffffff;

}

.logo{
    position: relative;
    display: inline-block;
    bottom: -10px;
    opacity: 1;
}


#intro-page-button{
    position:absolute;
    background-color: #ffffff;
    color: black;
    padding: 0.25em 1.25em;
    font-size: .6em;
    outline: none;
    border: none;
    border-radius: 1.8em 1.5em 1.5em 0;
    transition: transform .2s ease;
    cursor: pointer;
    /* top: 50%;
    left: 42%; */

    top: 15%;
    left: 23%;

}

#intro-page-button:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 2px #ffffff;
}

#intro-page-button-about{
    position:absolute;
    background-color: #ffffff;
    color: black;
    padding: 0.25em 1.25em;
    font-size: .6em;
    outline: none;
    border: none;
    border-radius: 1.8em 1.5em 1.5em 0;
    transition: transform .2s ease;
    cursor: pointer;
    /* top: 50%;
    left: 42%; */

    top: 15%;
    left: 43%;

}

#intro-page-button-about:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 2px #ffffff;
}

#intro-page-button-news{
    position:absolute;
    background-color: #ffffff;
    color: black;
    padding: 0.25em 1.25em;
    font-size: .6em;
    outline: none;
    border: none;
    border-radius: 1.8em 1.5em 1.5em 0;
    transition: transform .2s ease;
    cursor: pointer;
    /* top: 50%;
    left: 42%; */

    top: 15%;
    left: 51%;

}

#intro-page-button-news:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 2px #ffffff;
}

#intro-page-button-meettheteam{
    position:absolute;
    background-color: #ffffff;
    color: black;
    padding: 0.25em 1.25em;
    font-size: .6em;
    outline: none;
    border: none;
    border-radius: 1.8em 1.5em 1.5em 0;
    transition: transform .2s ease;
    cursor: pointer;
    /* top: 50%;
    left: 42%; */

    top: 15%;
    left: 59%;

}

#intro-page-button-meettheteam:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 2px #ffffff;
}